DB_HOST=127.0.0.1
DB_USER=
DB_PASS=
DB_NAME=


API_URL_BALE=https://tapi.bale.ai/bot
API_URL_TLG=https://api.telegram.org/bot

TOKEN_CREDIT=''
TOKEN_LABKHAND=''
TOKEN_GOLD=''
TOKEN_CONSULT=''
TOKEN_BALE_CONSULT=''
TOKEN_BALE_CREDIT=''
TOKEN_BALE_SOLAR=''