{
	auto_https off
}

:80 {
	root * /app/public
	php_server
	file_server
	encode zstd gzip
}

:8081 {
	route /health/* {
		reverse_proxy localhost:80
	}

	route /prometheus/metrics {
		reverse_proxy localhost:80
	}
}
